// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@header-height: 20px;
@footer-height: 20px;

.atomgo {
    log {
        white-space: pre-wrap;
        overflow: auto;
    }

    hi {
        background-color: @panel-heading-background-color;
    }
  &__columns-wrapper {
    width: 100%;
    height: calc(~'100% - @{header-height} - @{footer-height}');
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }

  &__column {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding: 5px 10px;
    border: 1px solid @base-border-color;
    resize: horizontal;
    overflow: auto;
    white-space: normal;
    margin: 0;
  }

  &__header {
    height: @header-height;
    background-color: @panel-heading-background-color;
    border: 1px solid @base-border-color;
    cursor: ns-resize;
  }

  &__footer {
    height: @footer-height;
    background-color: @panel-heading-background-color;
    border: 1px solid @base-border-color;
    content: '-= footer =-';
  }

  &__errors-list {
    padding-left: 10px;
  }

  &__error{
    white-space: pre-wrap;
    margin-bottom: 5px;

    &-module {
    }
    &-path {
      color: @text-color-error;
      text-decoration: underline;
      cursor: pointer;
    }
    &-line {
      color: @text-color-error;
      text-decoration: underline;
      cursor: pointer;
    }
    &-pos {
      color: @text-color-error;
      text-decoration: underline;
      cursor: pointer;
    }
    &-message {
    }
  }

}

atom-text-editor::shadow {
  .highlight-green .region {
    background-color: #DDDDFF;
  }
}


#atom-console {
	&.view-resizer {
		overflow: hidden;
		cursor: default;
		-webkit-user-select: none;

		.view-resize-handle {
			position: absolute;
			top: 0;
			bottom: 0;
			height: 10px;
			width: 100%;
			cursor: row-resize;
			z-index: 3;
		}
	}

	.view-scroller {
		height: 100%;
		width: 100%;
		overflow: auto;
	}

	.panel-body {
		height: 300px;
		background-color: @inset-panel-background-color;
		cursor: text;
		-webkit-user-select: text;

		&.closed {
			height: 0px !important;
		}

		pre {
			&:empty {
				padding: 0;
			}
		}

		p {
			margin: 0;

			&.level-error {
				color: @text-color-error;
			}

			&.level-warn {
				color: @text-color-warning;
			}

			&.level-notice {
				color: @text-color-info;
			}

			&.level-debug {
				color: @text-color-subtle;
			}
		}
	}
}
